</head>
<body>
<section id="header">
    <a href="/"><img src="/img/logo.png" class="logo" alt="" width=150px></a>
    <div class="header-icon">
        <i class="fa-solid fa-arrow-left" onClick="history.go(-1)"></i>
        <a href="/" id="home"><i class="fa-solid fa-house"></i></a>
    </div>
{{>layout/nav}}