{{>layout/head}}
<script>
     window.onload = function(){
        document.getElementById('foryouhightlight').classList.add('active');
    }
</script>
</head>
<body>
<section id="header">
    <a href="/"><img src="/img/logo.png" class="logo" alt="" width=150px></a>
    <div class="index-header-icon">
        <i class="fa-solid fa-arrow-left" onClick="history.go(-1)"></i>
    </div>
    <div>
        <ul id="navbar">
            <li><a href="/">Home</a></li>

            <li><a>Shop</a>
                <div class="sub-bar">
                    <ul>
                        <li><a href="/brands/romanticcrown">ROMANTIC CLOWN</a></li>
                        <li><a href="/brands/apoc">A PIECE OF CAKE</a></li>
                        <li><a href="/brands/mahagrid">mahagrid</a></li>
                        <li><a href="/brands/luvistrue">LUVISTRUE</a></li>
                        <li><a href="/brands/lee">lee</a></li>
                    </ul>
                </div>
            </li>

            <li><a href="/html/arfitting.html">AR Fitting</a></li>
            <li><a class="active" href="/foryou">For You</a></li>
            <li><a href="/html/about.html">About</a></li>

            <li id="loginicon"><a><i class="fa-solid fa-user"></i></a>
                <div class="sub-bar2">
                    <ul>
                        <li><a href="/users/signin">SIGN IN</a></li>
                        <li><a href="/users/mypage">MY PAGE</a></li>
                    </ul>
                </div>
            </li>

            <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a>
        </ul>
    </div>
    <div id="indextab">
        <i id="bar" class="fa-solid fa-bars"></i>
    </div>
</section>


<section id="foryou" class="section-p1">
    <div class="container">
        <ul class="location">
            <li class="location_item">
                <a href="/" class="location_link">HOME</a>
            </li>
            <li class="location_item">
                <a href="/foryou" class="location_link location_link-active">FOR YOU</a>
            </li>
        </ul>
        {{#userSize}}
            <h2>{{userName}} 회원님을 위한 나바타의 추천</h2>
            <h5>foryou 추천 시스템은 회원님의 체형정보({{userSize.height}}cm, {{userSize.weight}}kg)를 기반으로 이루어집니다.</h5>
        {{/userSize}}
        {{^userSize}}
            <h2> 체형정보를 입력하시면, 회원님의 체형정보에 따른 상품 추천을 받아 보실 수 있습니다.</h2>
            <a href="/users/modify" class="Btn-a buy_Btn">체형 정보 입력하러 가기</a>
        {{/userSize}}
        <div class="pro-container">
            {{#products}}
                <div class="pro" onclick="window.location.href='/products/{{productNo}}';">
                    <img src={{mainImage}} alt="">
                    <div class="des">
                        <span>{{brand}}</span>
                        <h5>{{name}}</h5>
                        <h4>{{normalPrice}}</h4>
                    </div>
                    {{#ARFitting}}
                        <a href="/arfitting/{{productNo}}"><i class="fa-brands fa-adn"></i></a>
                    {{/ARFitting}}
                </div>
            {{/products}}
            {{^products}}
                <h3>해당 체형에 맞는 상품 결과가 없습니다..</h3>
            {{/products}}
            <div id="page" class="section-p1">
                <a href="#"><i class="fa-solid fa-circle-arrow-left"></i></a>
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#"><i class="fa-solid fa-circle-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>

{{>layout/footer}}