{{>layout/header}}

<section id="hero">
    <h4>Trade-in-offer</h4>
    <h2>Super value deals</h2>
    <h1>On all products</h1>
    <p>Save more with coupons & up to 70% off! </p>
    <button>Shop Now</button>
</section>

<section id="product1" class="section-p1">
    <h2>New Arrivals</h2>
    <p>Summer Collection</p>
    <br />
    <div class="pro-container">
    {{#product}}
            <div class="pro" onclick="window.location.href='/products/{{productNo}}';">
                <img src={{mainImage}} alt="">
                <div class="des">
                    <span>{{brand}}</span>
                    <h5>{{name}}</h5>
                    <h4>{{normalPrice}}</h4>
                </div>
                {{#ARFitting}}
                    <a href="#"><i class="fa-brands fa-adn"></i></a>
                {{/ARFitting}}
            </div>
    {{/product}}
    </div>
</section>

{{>layout/footer}}