{{>layout/head}}
</head>

<body>
<section id="header">
    <a href="/"><img src="/img/logo.png" class="logo" alt="" width=150px></a>
    <div class="index-header-icon">
        <a href="/" id="indexhome"><i class="fa-solid fa-house"></i></a>
    </div>
    <div>
        <ul id="navbar">
            <li><a class="active" href="/">Home</a></li>

            <li><a>Shop</a>
                <div class="sub-bar">
                    <ul>
                        <li><a href="/brands/romanticcrown">ROMANTIC CLOWN</a></li>
                        <li><a href="/brands/apoc">A PIECE OF CAKE</a></li>
                        <li><a href="/brands/mahagrid">mahagrid</a></li>
                        <li><a href="/brands/luvistrue">LUVISTRUE</a></li>
                        <li><a href="/brands/lee">lee</a></li>
                    </ul>
                </div>
            </li>

            <li><a href="/html/arfitting.html">AR Fitting</a></li>
            <li><a href="/html/foryou.html">For You</a></li>
            <li><a href="/html/about.html">About</a></li>

            <li id="loginicon"><a><i class="fa-solid fa-user"></i></a>
                <div class="sub-bar2">
                    <ul>
                        <li><a href="/users/signin">SIGN IN</a></li>
                        <li><a href="/users/mypage">MY PAGE</a></li>
                    </ul>
                </div>
            </li>

            <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a>
        </ul>
    </div>
    <div id="indextab">
        <i id="bar" class="fa-solid fa-bars"></i>
    </div>
</section>

<section id="hero">
    <h4>Trade-in-offer</h4>
    <h2>Super value deals</h2>
    <h1>On all products</h1>
    <p>Save more with coupons & up to 70% off! </p>
    <button>Shop Now</button>
</section>

<section id="product1" class="section-p1">
    <h2>New Arrivals</h2>
    <p>Summer Collection</p>
    <br />
    <div class="pro-container">
    {{#product}}
            <div class="pro" onclick="window.location.href='/products/{{productNo}}';">
                <img src={{mainImage}} alt="">
                <div class="des">
                    <span>{{brand}}</span>
                    <h5>{{name}}</h5>
                    <h4>{{normalPrice}}</h4>
                </div>
                {{#ARFitting}}
                    <a href="#"><i class="fa-brands fa-adn"></i></a>
                {{/ARFitting}}
            </div>
    {{/product}}
    </div>
</section>

{{>layout/footer}}