{{>layout/head}}
{{>layout/js/mypage-highlights}}
{{>layout/header}}

<section id="mypage-area">
    <div class="contentBx">
        <h2><i class="fa-solid fa-cart-shopping"></i></h2>
        <div class="mypagecart-form">
            <div class="cart-pro">
                {{#cartList}}
                <div class="pro">
                    <input type="checkbox" class="checkbox" id="" name="">
                    <div onclick="javascript:deleteBtn('/users/cart/'+{{cartNo}}+'/delete')">
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                    <img src="{{product.mainImage}}" alt="">
                    <div class="des">
                        <span>{{product.brand}}</span>
                        <h5>{{product.name}}</h5>
                        <p>[옵션: {{size}}]</p>
                        <h4>{{product.normalPrice}} 원</h4>
                    </div>
                </div>
                {{/cartList}}
            </div>
            <div class="total_price">
                <h3>합계</h3>
                <p><strong>{{price}}</strong>원</p>
            </div>

            <div class="orderBx">
                <input type="opBtn" value="선택 상품 주문" name="" onclick="">
                <input type="AllBtn" value="전체 상품 주문" name="" onclick="">
            </div>
        </div>
    </div>
</section>

{{>layout/footer}}