{{>layout/head}}
{{>layout/js/mypage-highlights}}
{{>layout/header}}

<section id="mypage-area">
    <div class="contentBx">
        <h2>MY PAGE</h2>
        <div class="mypage-form">
            <div class="profile">
                <div class="profile-pic"></div>
                <div class="proflie-name">{{userName}}님 안녕하세요!</div>
            </div>
            <div class="mypage-menu">
                <div class="menu1">
                    <div class="text"><a href="/users/modify">회원 정보 수정 </a></div>
                    <div class="icon"><i class="fa-solid fa-angles-right"></i></div>
                </div>
                <div class="menu1">
                    <div class="text"><a href="/users/like">찜 목록 </a></div>
                    <div class="icon"><i class="fa-solid fa-angles-right"></i></div>
                </div>
                <div class="menu1">
                    <div class="text"><a href="/users/cart">장바구니 </a></div>
                    <div class="icon"><i class="fa-solid fa-angles-right"></i></div>
                </div>
                <div class="menu1">
                    <div class="text"><a href="/users/review">리뷰 작성 </a></div>
                    <div class="icon"><i class="fa-solid fa-angles-right"></i></div>
                </div>
            </div>
        </div>
    </div>
</section>

{{>layout/footer}}