{{>layout/head}}
{{>layout/js/shop-highlights}}
<link rel="stylesheet" href="/css/jquery.alert.min.css">

{{>layout/header}}

<section id="prodetails" class="section-p1">
    <div class="single-pro-image">
        <img src="{{product.mainImage}}" width="100%" id="MainImg" alt="">
        <div class="small-img-group">
            <div class="small-img-col">
                <img src="img/products/n1.jpg" width="100%" class="small-img" alt="">
            </div>
            <div class="small-img-col">
                <img src="img/products/n2.jpg" width="100%" class="small-img" alt="">
            </div>
            <div class="small-img-col">
                <img src="img/products/n3.jpg" width="100%" class="small-img" alt="">
            </div>
            <div class="small-img-col">
                <img src="img/products/n4.jpg" width="100%" class="small-img" alt="">
            </div>
        </div>
        {{#product.ARFitting}}
            <a href="/arfitting/{{product.productNo}}"><i class="fa-brands fa-adn" title="AR 피팅으로 이동하기"></i></a>
        {{/product.ARFitting}}
    </div>

    <div class="single-pro-details">
        <ul class="location">
            <li class="location_item">
                <a href="/" class="location_link">HOME</a>
            </li>
            <li class="location_item">
                <a href="/" class="location_link">SHOP</a>
            </li>
            <li class="location_item">
                <a href="shop.html" class="location_link">{{product.brand}}</a>
            </li>
            <li class="location_item">
                <a href="/brands/romanticcrown.html" class="location_link location_link-active">{{product.categoryCode}}</a>
            </li>
        </ul>

        <table>
            <tbody>
            <tr class="product_name">
                <th scope="row"><span style="color:#555555;">제품명</span></th>
                <td><span style="color:#555555;">{{product.name}}</span></td>
            </tr>
            <tr class="product_price">
                <th scope="row"><span style="color:#555555;">판매가</span></th>
                <td><span style="color:#555555;">{{product.normalPrice}}원</span></td>
            </tr>
            <tr class="product_brand">
                <th scope="row"><span style="color:#555555;">브랜드</span></th>
                <td><span style="color:#555555;">{{product.brand}}</span></td>
            </tr>
            <tr class="product_size">
                <th scope="row"><span style="color:#555555;">사이즈</span></th>
                <td>
                    <select id="size">
                        <option value="notSelected">선택</option>
                        {{#sizes}}
                            <option value="{{size}}">{{size}}</option>
                        {{/sizes}}
                    </select>
                </td>
            </tr>

            </tbody>
        </table>

        <div class="proBtn">
            <div class="line1">
                <a href="#" class="Btn-a buy_Btn">Buy Now</a>
            </div>
            <div class="line2">
                <div class="cart_Btn">
                    <a href="#" class="Btn-a">Cart</a>
                </div>
                <div class="wish_Btn">
                    <a id="add_wish_btn" href="#" class="Btn-a"><i class="fa-regular fa-heart"></i></a>
                </div>
            </div>


            <!--
        <button class="cart">Add to Cart</button>
        <button class="buy">Buy Now</button>
        <button class="heart"><i class="fa-regular fa-heart"></i></button> -->
        </div>
    </div>
</section>

<section id="prodetails2" class="section-p1">
    <h2>Product Details</h2>
    {{#details}}
    <div class="prodetails2img">
        <img src="{{image}}" width="100%" id="MainImg" alt=""> <!-- 여기가 디테일 이미지 -->
    </div>
    {{/details}}
</section>
<section>
    <hr />
    <h1>만족도,,,</h1>
    {{#satisfactions}}
        <h5>{{sizeSatisfaction}} ----- {{rate}}%</h5>
    {{/satisfactions}}
</section>

<section id="review" class="section-p1">
    <h2>Review</h2>
    <div class="ReviewList">
        <table>
            <thead>
            <tr>
                <th style="width:7%;" scope="col"> 번호</th>
                <th style="width:22%;" scope="col" class="thumb">상품정보</th>
                <th style="width:auto;" scope="col">제목</th>
                <th style="width:15%;" scope="col">작성자</th>
                <th style="width:15%;" scope="col" class="">작성일</th>
                <th style="width:8%;" scope="col" class="">조회수</th>
            </tr>
            </thead>
            <tbody>
            {{#reviews}}
            <tr>
                <td class="num">  </td>
                <td class="thumb"><a href="/products/{{product.productNo}}"><img src="{{product.mainImage}}" width="50px" height="50px" alt=""><span>{{product.name}}</span></a></td>
                <td class="subject">
                    <a href="/reviews/{{reviewNo}}" style="color:#555555;">{{content}}</a>
                </td>
                <td class="writer">{{userName}}</td>
                <td class="txtLess ">{{createddate}}</td>
                <td class="txtLess ">{{count}}</td>
            </tr>
            {{/reviews}}
            <tr>
                <td class="num">4</td>
                <td class="thumb"><a href="product.html"><img src="file:///Users/daeun/Projects/ResponsiveWeb/img/products/n1.jpg" width="50px" height="50px" alt=""><span>상품명 ex.awesome t-shirts</span></a></td>
                <td class="subject">
                    <a href="review_detail.html" style="color:#555555;">사이즈 잘 맞고 예뻐요</a>
                </td>
                <td class="writer">닉네임4</td>
                <td class="txtLess ">2022-08-02</td>
                <td class="txtLess ">223</td>
            </tr>
            <tr>
                <td class="num">3</td>
                <td class="thumb"><a href="product.html"><img src="file:///Users/daeun/Projects/ResponsiveWeb/img/products/n1.jpg" width="50px" height="50px" alt=""><span>상품명 ex.awesome t-shirts</span></a></td>
                <td class="subject">
                    <a href="review_detail.html" style="color:#555555;">친구 선물로 사줬는데 엄청 좋아해요!</a>
                </td>
                <td class="writer">닉네임3</td>
                <td class="txtLess ">2022-08-02</td>
                <td class="txtLess ">252</td>
            </tr>
            <tr>
                <td class="num">2</td>
                <td class="thumb"><a href="product.html"><img src="file:///Users/daeun/Projects/ResponsiveWeb/img/products/n1.jpg" width="50px" height="50px" alt=""><span>상품명 ex.awesome t-shirts</span></a></td>
                <td class="subject">
                    <a href="review_detail.html" style="color:#555555;">후기</a>
                </td>
                <td class="writer">닉네임2</td>
                <td class="txtLess ">2022-08-02</td>
                <td class="txtLess ">197</td>
            </tr>
            <tr>
                <td class="num">1</td>
                <td class="thumb"><a href="product.html"><img src="file:///Users/daeun/Projects/ResponsiveWeb/img/products/n1.jpg" width="50px" height="50px" alt=""><span>상품명 ex.awesome t-shirts</span></a></td>
                <td class="subject">
                    <a href="review_detail.html" style="color:#555555;">만족해요</a>
                </td>
                <td class="writer">닉네임1</td>
                <td class="txtLess ">2022-08-02</td>
                <td class="txtLess ">88</td>
            </tr>

            </tbody>
        </table>
    </div>

    <div class="wrap">
        <div class="review_writeBtn">
            <input type="writeBtn" value="리뷰 쓰기" name="" onclick="location.href='review.html';">
        </div>
    </div>

    <div class="page">
        <div class="left">
            <a href="?board_no=4&amp;page=2">
                <i class="fa-solid fa-angle-left"></i></a>
        </div>
        <div class="center">
            <li class="xans-record-"><a href="?board_no=4&amp;page=1" class="other">1</a></li>
            <li class="xans-record-"><a href="?board_no=4&amp;page=2" class="other">2</a></li>
            <li class="xans-record-"><a href="?board_no=4&amp;page=3" class="this">3</a></li>
            <li class="xans-record-"><a href="?board_no=4&amp;page=4" class="other">4</a></li>
            <li class="xans-record-"><a href="?board_no=4&amp;page=5" class="other">5</a></li>
        </div>
        <div class="right">
            <a href="?board_no=4&amp;page=4">
                <i class="fa-solid fa-angle-right"></i></a>
        </div>
    </div>

</section>

<footer class="section-p1">
    <div class="col">
        <img class="logo" src="/img/logo.png" alt="" width="100px">
        <h4>Contact</h4>
        <p><strong>Address: </strong>덕성여자대학교</p>
        <p><strong>Phone: </strong>0123456789</p>
        <p><strong>Github: </strong>git address</p>
    </div>

    <div class="col">
        <h4>About</h4>
        <a href="#">About us</a>
        <a href="#">Delivery Informatiion</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms & Conditions</a>
        <a href="#">Contact us</a>
    </div>

    <div class="copyright">
        <p> Copyright ©  </p>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/jsapp/index.js"></script>
<script src="/jsapp/jquery.alert.min.js"></script>
<script>
    const bar = document.getElementById('bar');
    const nav = document.getElementById('navbar');
    const close = document.getElementById('close');


    if (bar) {
        bar.addEventListener('click', () => {
            nav.classList.add('active')
        })
    }

    if (close) {
        close.addEventListener('click', () => {
            nav.classList.remove('active')
        })
    }
</script>
<script>
    /* 리뷰 별 선택하기 */
    const allStars = document.querySelectorAll('.star');

            allStars.forEach((star, i) => {
                star.onclick = function () {
                    let current_star_level = i + 1;

                    allStars.forEach((star, j) => {
                        if (current_star_level >= j + 1) {
                        star.innerHTML = '<i class="fa-solid fa-star"></i>';
                    } else {
                        star.innerHTML = '<i class="fa-regular fa-star"></i>';
                    }

                    })
                }
            })
</script>
</body>
</html>