{{>layout/head}}
{{>layout/js/mypage-highlights}}
{{>layout/header}}

<section id="signup-area">
    <div class="contentBx">
        <div class="formBx">
            <h2>Sign Up</h2>
            <form action="/users/signup" name="user" method="POST">
                <div class="inputBx">
                    <span>이메일 * </span>
                    <input type="text" value="{{email}}" disabled>
                </div>
                <div class="inputBx">
                    <span>이름 *</span>
                    <input type="text" value="{{name}}" disabled>
                </div>
                <div class="inputBx">
                    <span>키 *</span>
                    <input type="text" name="height" placeholder="숫자만 입력하세요. ex) 160.3cm -> 160.3">cm
                </div>
                <div class="inputBx">
                    <p>* AR 피팅을 위해 정확한 정보를 입력해주세요.</p>
                </div>
                <div class="inputBx">
                    <span>몸무게 *</span>
                    <input type="text" name="weight" placeholder="숫자만 입력하세요. ex) 50.5kg -> 50.5">kg
                </div>
                <div class="inputBx">
                    <p>* AR 피팅을 위해 정확한 정보를 입력해주세요.</p>
                </div>
                <div class="signupinputBx">
                    <input type="submit" value="Sign Up" />
                </div>
            </form>
        </div>
    </div>
</section>

{{>layout/footer}}
