{{>layout/header}}

<section id="login-area">

    <div class="contentBx">
        <div class="formBx">
            {{#userName}}
                <ul class="scl">
                    <h2>Hi, {{userName}}</h2>
                    <h3><a href="/logout" role="button">logout</a></h3>
                </ul>
            {{/userName}}
            {{^userName}}
                <h2>Login</h2>
                <h4>SNS 계정으로 시작하기</h4>
                <ul class="scl">
                    <li><a href="/oauth2/authorization/google"><img class="kakao" src="/img/loginbtn_google.png"></a></li>
                </ul>
            {{/userName}}
        </div>
    </div>
</section>

{{>layout/footer}}