{{>layout/head}}
{{>layout/js/mypage-highlights}}
{{>layout/header}}

<section id="login-area">

    <div class="contentBx">
        <div class="formBx">
            {{#user}}
                <ul class="scl">
                    <h2>Hi, {{name}}</h2>
                    <h3><a href="/logout" role="button">logout</a></h3>
                </ul>
            {{/user}}
            {{^user}}
                <h2>Login</h2>
                <h4>SNS 계정으로 시작하기</h4>
                <ul class="scl">
                    <li><a href="/oauth2/authorization/google"><img class="kakao" src="/img/loginbtn_google.png"></a></li>
                </ul>
                <ul class="scl">
                    <li><a href="/oauth2/authorization/naver"><img class="naver" src="/img/loginbtn_naver.png"></a></li>
                </ul>
            {{/user}}
        </div>
    </div>
</section>

{{>layout/footer}}